body{
    /*background:#BF0300;*/
    /*color:white;*/
    font-size:18px;
}
h1{
    font-size:650%;
}
a:link{
    color:inherit;
    text-decoration: none;
}
a:hover{
    color:inherit;
    text-decoration: none;
}
a:visited{
    color:inherit;
    text-decoration: none;
}
ul{
    list-style: none;
}
.visualizer{
    border: 5px solid lime;
}
.lobster{
    font-family: 'Lobster', cursive;
}
.raleway{
    font-family: 'Raleway', sans-serif;
}

#header{
  margin-bottom:5%;
  color:#BF0300;
  text-align:center;
  
}
.maincontent{
    background: white;
    color:black;
    padding:1%;
     text-align:center;
}


